<main id="main" class="">
    <div id="content" class="content-area page-wrapper" role="main">
        <div class="row row-main">
            <div class="large-12 col">
                <div class="col-inner">
                    <p><strong>Công ty TNHH Tín Hưng Thịnh</strong> được thành lập 2011 có trụ sở chính tại: 200 Nguyễn Cư Trinh, P.Nguyễn Cư Trinh, Quận 1, TPHCM.</p>
                    <p>Tự hào là đại diện phân phối và bảo hành chính hãng các sản phẩm ô tô tải từ tập đoàn ô tô tải hàng đầu thế giới – HINO, cùng với đội ngũ cán bộ quản lý, kỹ sư ô tô được đào tạo chính quy trong nước và tại chính hãng Hino, <strong><a>Xe tải Hino</a></strong> đã khẳng định được thương hiệu của mình trong lĩnh vực cung cấp dòng xe tải nhẹ – trung- nặng, xe chuyên dùng, trên thị trường trong nước và quốc tế.</p>
                    <p><strong>Lĩnh vực kinh doanh chính:</strong></p>
                    <p><strong><a>HINO Tín Hưng Thịnh</a></strong>&nbsp;được tập đoàn HINO lựa chọn là đại diện phân phối và bảo hành chính thức tại Việt Nam với các sản phẩm nhập khẩu chất lượng hàng đầu, cấu hình xe phù hợp với nhu cầu sử dụng mang lại hiệu quả kinh tế cao cho nhiều khách hàng trên mọi miền đất nước, giá bán cạnh tranh cùng chế độ bảo hành uy tín có sự hỗ trợ của các chuyên gia kỹ thuật của HINO.</p>
                    <p>Với phương châm hoạt động: “Đẳng cấp – An toàn – Hiệu quả”. Công ty chúng tôi hy vọng sẽ làm hài lòng Quý khách hàng. Với đội ngũ nhân viên kinh doanh trẻ trung, năng động, đội ngũ kỹ thuật bảo hành được đào tạo bài bản tại nhà máy HINO có kinh nghiệm lâu năm, tay nghề vững vàng với trang thiết bị hiện đại, dịch vụ phụ tùng chính hãng và đầy đủ nhằm đáp ứng nhu cầu thay thế trong suốt quá trình sử dụng xe,</p>
                    <p><strong><em>Thông tin liên hệ:</em></strong></p>
                    <p><strong>Công ty TNHH Tín Hưng Thịnh Auto</strong></p>
                    <p><strong>Hệ thống showroom:</strong></p>
                    <ul>
                        <li>Cơ sở 1: Số 513 Xa lộ Hà Nội, Khu phố 1, P. Long Bình, Tp. Biên Hòa, tỉnh Đồng Nai</li>
                    </ul>
                    <p>Hotline: 0901 625 998</p>
                </div>
            </div>
        </div>
    </div>


</main>
<style>
    main{
        display:block;
    }
    #main {
        background-color: #fff;
        position: relative;
    }
    .page-wrapper {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .entry-content ol li, .entry-summary ol li, .col-inner ol li, .entry-content ul li, .entry-summary ul li, .col-inner ul li {
        list-style:none;
        margin-left: 1.3em;
    }
</style>
